<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>content_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,428}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{960,428}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>content_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{960,428}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{960,428}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>content_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{960,428}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{960,428}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grass_content.png</string>
            <key>size</key>
            <string>{964,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:623b98faa6fce93d1ff28aab8da2fc96:3e07a40b383e9b5c591056006a9c84c7:88146e6a97c93792499bed26bfc660bd$</string>
            <key>textureFileName</key>
            <string>grass_content.png</string>
        </dict>
    </dict>
</plist>
