<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,326},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>10_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,220},{131,110}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{131,110}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>10_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,108},{133,108}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{133,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>10_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,104}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{143,104}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>10_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,328},{139,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>10_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,332},{125,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{125,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,332},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,220},{131,110}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{131,110}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,110},{133,108}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{133,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{143,104}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{143,104}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,332},{139,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,332},{125,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{125,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,332},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,220},{131,110}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{131,110}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,110},{133,108}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{133,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{143,106}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{143,106}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,355},{139,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,355},{139,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,220},{131,110}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{131,110}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,110},{131,108}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{143,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{143,106}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,442},{139,112}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,440},{125,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{125,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,446},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,446},{131,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{131,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,110},{131,108}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{131,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{143,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{143,106}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,446},{139,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,674},{125,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{125,114}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{121,114}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{121,114}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,220},{131,110}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{131,110}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,110},{133,108}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{133,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{143,106}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{143,106}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,446},{139,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,469},{125,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{125,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,469},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{121,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,243},{131,110}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{131,110}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,110},{131,108}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{131,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{143,104}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{143,104}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,556},{139,112}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>6_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,556},{139,112}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,560},{131,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{131,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{131,108}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{131,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{143,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{143,106}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,560},{139,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,674},{125,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{125,114}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,554},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{131,110}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{131,110}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,216},{133,108}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{133,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{143,106}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{143,106}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,560},{139,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,560},{125,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{125,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>9_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,583},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>9_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,583},{131,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{131,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>9_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,218},{131,108}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{131,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>9_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,108},{143,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{143,106}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>9_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,670},{139,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{139,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>9_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,674},{125,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{125,114}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>zha_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,697},{132,336}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,7},{132,336}}</string>
                <key>sourceSize</key>
                <string>{190,360}</string>
            </dict>
            <key>zha_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{144,330}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,13},{144,330}}</string>
                <key>sourceSize</key>
                <string>{190,360}</string>
            </dict>
            <key>zha_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,831},{154,318}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{154,318}}</string>
                <key>sourceSize</key>
                <string>{190,360}</string>
            </dict>
            <key>zha_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,790},{158,308}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,37},{158,308}}</string>
                <key>sourceSize</key>
                <string>{190,360}</string>
            </dict>
            <key>zha_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,697},{158,314}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{158,314}}</string>
                <key>sourceSize</key>
                <string>{190,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Horse.png</string>
            <key>size</key>
            <string>{1208,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b194303eba5f59b8e6197fdad577f9cd:50dc47f271690291c4526a9f1bf18910:57e663ebd01703260ba74b590803a317$</string>
            <key>textureFileName</key>
            <string>Horse.png</string>
        </dict>
    </dict>
</plist>
