<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,149}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{178,149}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>10_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,2},{152,153}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>10_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,768},{160,155}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{160,155}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>10_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,768},{164,157}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>10_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,771},{160,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>10_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,306},{152,157}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>10_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,306},{152,157}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>10_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,2},{168,151}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{168,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>10_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{180,149}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{180,149}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>1_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{178,151}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{178,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>1_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,306},{152,153}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>1_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,772},{162,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{162,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>1_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,772},{164,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>1_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,772},{160,157}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>1_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,306},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>1_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,306},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>1_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,616},{168,153}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{168,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>1_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{180,151}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{180,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>2_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{178,149}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{178,149}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>2_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,308},{152,153}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>2_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,768},{160,155}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{160,155}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>2_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{164,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>2_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,772},{160,157}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>2_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,308},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>2_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,309},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>2_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,153},{168,151}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{168,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>2_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{180,149}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{180,149}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>3_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{180,149}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{180,149}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>3_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,309},{152,153}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>3_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,768},{160,155}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{160,155}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>3_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,922},{164,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>3_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,925},{160,157}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>3_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{152,157}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>3_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,459},{152,157}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>3_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,153},{168,151}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{168,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>3_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{180,149}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{180,149}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>4_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,153},{178,151}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{178,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>4_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,459},{152,153}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>4_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,925},{160,157}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>4_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,925},{164,157}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>4_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,925},{160,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>4_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,460},{152,157}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>4_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,460},{152,157}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>4_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,617},{168,153}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{168,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>4_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,153},{180,151}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{180,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>5_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,153},{178,151}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{178,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>5_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,460},{152,153}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>5_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,927},{160,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>5_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,930},{164,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>5_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,931},{160,157}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>5_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,460},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>5_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,460},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>5_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,617},{168,153}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{168,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>5_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,153},{180,151}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{180,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>6_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,153},{178,151}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{178,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>6_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,462},{152,153}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>6_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,931},{160,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>6_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,931},{164,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>6_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,934},{160,157}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>6_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,462},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>6_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,463},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>6_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,617},{168,153}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{168,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>6_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,155},{180,151}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{180,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>7_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{178,149}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{178,149}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>7_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,463},{152,153}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>7_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,768},{160,155}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{160,155}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>7_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{164,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>7_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1081},{160,157}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>7_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>7_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,613},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>7_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,155},{168,151}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{168,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>7_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{180,149}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{180,149}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>8_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,156},{178,151}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{178,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>8_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,613},{152,153}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>8_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1084},{162,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{162,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>8_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1084},{164,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>8_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1084},{160,157}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>8_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,614},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>8_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,614},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>8_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{168,153}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{168,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>8_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{180,151}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{180,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>9_J_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,306},{178,151}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{178,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>9_J_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,614},{152,153}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{152,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>9_J_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1084},{162,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{162,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>9_J_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1089},{164,157}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{164,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>9_J_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1086},{160,157}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{160,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>9_J_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,614},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>9_J_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,614},{152,157}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{152,157}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>9_J_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,767},{168,153}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{168,153}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
            <key>9_J_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,306},{180,151}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{180,151}}</string>
                <key>sourceSize</key>
                <string>{200,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Horse_jump.png</string>
            <key>size</key>
            <string>{1969,1248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72db70395f89d59933b31a8b7fabf330:5d9054a7a446fbee114a67faabc29e19:3e64c34edff20cc5f7a3da515028130c$</string>
            <key>textureFileName</key>
            <string>Horse_jump.png</string>
        </dict>
    </dict>
</plist>
